%h1 Editar multa

= render 'form'

= link_to 'Mostrar', traffic_ticket_path(@traffic_ticket, format: :json), remote: true
\|
= link_to 'Atras', root_path(format: :json, anchor: 'traffic_tickets'), remote: true
