= form_for @traffic_ticket, format: params[:format], remote: true do |f|
  - if @traffic_ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@traffic_ticket.errors.count, "error")} prohibited this traffic_ticket from being saved:"
      %ul
        - @traffic_ticket.errors.full_messages.each do |msg|
          %li= msg

  .row
    .field.col-md-6
      = f.label 'Usuario Infractor', required: true
      = f.select :owner_id, Owner.to_select, {include_blank: 'Seleccione Infractor'}, required: true, class: "form-control"
      = link_to 'Crear Usuario', new_owner_path(format: :json), remote: true, data: {container: "#mainModal", title: 'Nuevo Usuario', select: '#traffic_ticket_owner_id'}
    .field.col-md-6
      = f.label 'Vehiculo de la infraccion'
      = f.select :car_id, Car.to_select, {include_blank: 'Seleccione Vehiculo'}, class: "form-control"
      = link_to 'Crear Vehiculo', new_car_path(format: :json), remote: true, data: {container: "#mainModal", title: 'Nuevo Vehiculo', select: '#traffic_ticket_car_id'}
  .row
    .field.col-md-6
      = f.label 'Agente de transito', required: true
      = f.select :traffic_officer_id, TrafficOfficer.to_select, {include_blank: 'Seleccione Agente'}, class: "form-control", required: true
      -#= link_to 'Crear Agente de Transito', new_traffic_officer_path(format: :json), remote: true, data: {container: "#mainModal", title: 'Nuevo Agente', select: '#traffic_ticket_traffic_officer_id'}
    .field.col-md-6
      = f.label 'Infraccion', required: true
      = f.select :traffic_infraction_id, TrafficInfraction.to_select, {include_blank: 'Seleccione Infraccion'}, class: "form-control infraction-select", required: true
      -#= link_to 'Crear Infraccion', new_traffic_infraction_path(format: :json), remote: true, data: {container: "#mainModal", title: 'Nueva Infraccion', select: '#traffic_ticket_traffic_infraction_id'}
  .row
    .field.col-md-6
      = f.label 'Departamento/Estado', required: true
      = select_tag :department_id, options_for_select(Department.pluck(:name, :id), f.object.city.try(:department_id)), include_blank: 'Seleccione departamento de la infraccion', class: "form-control department_select", required: true, data: {city_select: '#traffic_ticket_city_id'}
    .field.col-md-6
      = f.label 'Ciudad'
      = f.select :city_id, City.where(department_id: f.object.city.try(:department_id)).pluck(:name, :id), {include_blank: 'Primero seleccione departamento'}, class: "form-control", required: true
  .row
    .field.col-md-6
      = f.label 'Direccion'
      = f.text_field :address, class: "form-control", required: true, placeholder: 'Carrera # Calle #'
    .field.col-md-6
      = f.label 'Fecha Infraccion'
      = f.text_field :date, data: {provide: 'datepicker'}, required: true, readonly: true, class: "form-control", placeholder: 'dd/mm/yyyy', value: f.object.date.try(:strftime, '%d/%m/%Y')
  .row
    .field.col-md-6
      = f.label 'Tipo'
      .row
        .col-md-6
          = radio_button_tag 'tipo', 'urban', f.object.traffic_infraction.try(:cost_urban_area) == f.object.cost ,data: {price: f.object.traffic_infraction.try(:cost_urban_area)}
          = f.label 'Urbano', for: 'tipo_urban'
        .col-md-6
          = radio_button_tag 'tipo', 'rural', f.object.traffic_infraction.try(:cost_rural_area) == f.object.cost, data: {price: f.object.traffic_infraction.try(:cost_rural_area)}
          = f.label 'Rural', for: 'tipo_rural'
    .field.col-md-6
      = f.label "Precio"
      .row
        .col-md-2.text-right
          $ COP
        .col-md-10
          = f.text_field :cost, placeholder: '', type: 'number', required: true, min: '0.1', step: '0.01', class: "form-control", readonly: true
  .actions.col-md-6.pull-right
    = f.submit 'Guardar', class: 'btn pull-right btn btn-primary'
