%table.table.table-striped.table-hover
  %thead
    %tr
      %th Propietario
      %th Automovil
      %th Agente de transito
      %th Infraccion
      %th Direccion
      %th Fecha
      %th Precio
      %th{colspan: 3}

  %tbody
    - @traffic_tickets.each do |traffic_ticket|
      %tr{class: ticket_table_class(traffic_ticket)}
        %td= traffic_ticket.owner.full_name
        %td= traffic_ticket.car.try(:registration)
        %td= traffic_ticket.traffic_officer.name
        %td= traffic_ticket.traffic_infraction.article
        %td= traffic_ticket.full_address
        %td= traffic_ticket.date
        %td= number_to_currency traffic_ticket.cost, precision: 0, unit: 'COP $'
        %td= link_to 'Mostrar', traffic_ticket_path(traffic_ticket, format: :json), remote: true
        %td= link_to 'Editar', edit_traffic_ticket_path(traffic_ticket, format: :json), remote: true unless traffic_ticket.owner.archived?
        %td= link_to 'Eliminar', traffic_ticket_path(traffic_ticket, format: :json), remote: true, method: :delete, remote: true, class: 'deleted', :data => { :confirm => 'Esta seguro?' }

- unless @traffic_tickets.present?
  %h4 Sin resultados
%br