.row
  .col-md-8.col-md-offset-2
    = form_for :search, url: traffic_tickets_path(format: :json), method: 'get', remote: true, html: {data: {container: '#traffic_tickets_results'}, class: 'auto-submit'} do |f|
      .row
        .col-md-3
          = f.text_field :text, placeholder: 'Busqueda', class: 'form-control'
        .col-md-3
          = f.select :sort, [['Nombre', 'owners.name'], ['Precio', 'cost'], ['Ciudad', 'cities.name'], ["Fecha", "traffic_tickets.date"]], {include_blank: 'Ordenar por'}, class: "form-control"
        .col-md-3
          = f.select :sort_type, [['Ascendente','asc'], ['Descendente', 'desc']], {}, class: "form-control"
        .col-md-3
          = f.submit 'Buscar', class: 'btn btn-info form-control'

#traffic_tickets_results
