%p
  %b Infractor:
  = @traffic_ticket.owner
%p
  %b Automovil:
  = @traffic_ticket.car
%p
  %b Agente de transito:
  = @traffic_ticket.traffic_officer
%p
  %b Infraccion:
  = @traffic_ticket.traffic_infraction
%p
  %b Direccion:
  = "#{@traffic_ticket.city.to_s}, #{@traffic_ticket.address}"
%p
  %b Date:
  = @traffic_ticket.date
%p
  %b Cost:
  = @traffic_ticket.cost

= link_to 'Editar', edit_traffic_ticket_path(@traffic_ticket, format: :json), remote: true
\|
= link_to 'Atras', root_path(format: :json, anchor: 'traffic_tickets'), remote: true
