%h1 Editar Usuario

= render 'form'

.navigation
  = link_to 'Mostrar', owner_path(@owner, format: :json), remote: true
  \|
  = link_to 'Atras', root_path(format: :json, anchor: 'owners'), remote: true
