= form_for @owner, format: params[:format], remote: true do |f|
  - if @owner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@owner.errors.count, "error")} prohibited this owner from being saved:"
      %ul
        - @owner.errors.full_messages.each do |msg|
          %li= msg

  .row
    .field.col-md-6
      = f.label 'Nit', required: true
      = f.text_field :nit, required: true, class: "form-control"
    .field.col-md-6
      = f.label 'Nombre', required: true
      = f.text_field :name, required: true, class: "form-control"
  .row
    .field.col-md-6
      = f.label 'Apellidos', required: true
      = f.text_field :last_name, required: true, class: "form-control"
    .field.col-md-6
      = f.label 'Fecha Nacimiento', required: true
      = f.text_field :birthdate, data: {provide: 'datepicker'}, required: true, readonly: true, class: "form-control", placeholder: 'dd/mm/yyyy', value: f.object.birthdate.try(:strftime, '%d/%m/%Y')
  .row
    .field.col-md-6
      = f.label 'Calle', required: true
      = f.text_field :street, required: true, class: "form-control"
    .field.col-md-6
      = f.label '# calle', required: true
      = f.text_field :street_number, required: true, class: "form-control"
  .row
    .field.col-md-6
      = f.label 'Departamento/Estado', required: true
      = select_tag :department_id, options_for_select(Department.pluck(:name, :id), f.object.city.try(:department_id)), include_blank: 'Seleccione departamento', class: "form-control department_select", required: true, data: {city_select: '#owner_city_id'}
    .field.col-md-6
      = f.label 'Ciudad'
      = f.select :city_id, City.where(department_id: f.object.city.try(:department_id)).pluck(:name, :id), {include_blank: 'Primero seleccione departamento'}, class: "form-control", required: true
  .row
    .actions.col-md-6.pull-right
      = f.submit 'Guardar', class: 'btn pull-right btn btn-primary'
