%table.table.table-striped.table-hover
  %thead
    %tr
      %th Nit
      %th Nombre
      %th Apellidos
      %th Fecha Nacimiento
      %th Edad
      %th Direccion
      %th{colspan: 3}

  %tbody
    - @owners.each do |owner|
      %tr
        %td= owner.nit
        %td= owner.name
        %td= owner.last_name
        %td= owner.birthdate
        %td= owner.age
        %td= "#{owner.city.to_s}, #{owner.street} #{owner.street_number}"
        %td= link_to 'Mostrar', owner_path(owner, format: :json), remote: true
        %td= link_to 'Editar', edit_owner_path(owner, format: :json), remote: true
        %td= link_to 'Eliminar', owner_path(owner, format: :json), remote: true, method: :delete, :data => { :confirm => 'Esta seguro?' }, class: 'deleted'

- unless @owners.present?
  %h4 Sin resultados
%br
