%p
  %b Nit:
  = @owner.nit
%p
  %b Nombre:
  = @owner.name
%p
  %b Apellidos:
  = @owner.last_name
%p
  %b Fecha de Nacimiento:
  = @owner.birthdate
%p
  %b Edad:
  = @owner.age
%p
  %b Direccion:
  = "#{@owner.city.to_s}, #{@owner.street} #{@owner.street_number}"

= link_to 'Editar', edit_owner_path(@owner, format: :json), remote: true
\|
= link_to 'Atras', root_path(format: :json, anchor: 'owners'), remote: true
