%h1 Editar Fabricante
= render 'form', automaker: @automaker
= link_to 'Mostrar', automaker_path(@automaker, format: :json), remote: true
|
= link_to 'Atras', root_path(format: :json, anchor: 'automakers'), remote: true
