= form_for @automaker , format: params[:format], remote: true do |f|
  - if @automaker.errors.any?
    #error_explanation
      %h2
        = pluralize(@automaker.errors.count, "error")
        prohibited this automaker from being saved:
      %ul
        - @automaker.errors.full_messages.each do |message|
          %li= message
  .row
    .field.col-md-6
      = f.label 'Nombre', required: true
      = f.text_field :name, required: true, class: "form-control"
    .field.col-md-6
      = f.label 'Direccion', required: true
      = f.text_field :address, required: true, class: "form-control"
  .row
    .actions.col-md-6.pull-right
      = f.submit 'Guardar', class: 'btn pull-right btn btn-primary'
