%table.table.table-striped.table-hover
  %thead
    %tr
      %th Nombre
      %th Direccion
      %th{:colspan => "2"}

  %tbody
    - @automakers.each do |automaker|
      %tr
        %td= automaker.name
        %td= automaker.address
        %td= link_to 'Mostrar', automaker_path(automaker, format: :json), remote: true
        %td= link_to 'Editar', edit_automaker_path(automaker, format: :json), remote: true

- unless @automakers.present?
  %h4 Sin resultados
%br/
