%p
  %strong Nombre:
  = @automaker.name
%p
  %strong Direccion:
  = @automaker.address
.panel-group#accordion{role: 'tablist', aria_multiselectable: 'true'}
  .panel.panel-default
    .panel-heading{role: 'tab', id: 'headingModelCars'}
      %h4.panel-title
        %a{role:'button', href: '#model_cars', data: {toggle: 'collapse', parent: '#accordion'}, aria: {expanded: 'true', controls: 'model_cars'}}
          Modelos
  #model_cars.panel-collapse.collapse.in{role: 'tabpanel', aria_labelledby: 'headingModelCars'}
    = render partial: '/model_cars/search', formats: [:html], locals: {automaker: @automaker}
    = link_to 'Crear modelo', new_automaker_model_car_path(@automaker, format: :json), remote: true, class: 'btn btn-primary pull-right'

= link_to 'Editar', edit_automaker_path(@automaker, format: :json), remote: true
|
= link_to 'Atras', root_path(format: :json, anchor: 'automakers'), remote: true
