%h1 Editar Modelo

= render 'form'

= link_to 'Mostrar', automaker_model_car_path(@model_car.automaker, @model_car, format: :json), remote: true
\|
= link_to 'Atras', automaker_path(@model_car.automaker, format: :json), remote: true
