= form_for [@automaker, @model_car], format: params[:format], remote: true do |f|
  - if @model_car.errors.any?
    #error_explanation
      %h2= "#{pluralize(@model_car.errors.count, "error")} prohibited this model_car from being saved:"
      %ul
        - @model_car.errors.full_messages.each do |msg|
          %li= msg

  .row
    .field.col-md-6
      = f.label 'Nombre', required: true
      = f.text_field :name, required: true, class: "form-control"
    .field.col-md-6
      = f.label 'Año', required: true
      = f.number_field :year, required: true, class: "form-control"
  .row
    .field.col-md-6
      = f.label 'Cilindraje', required: true
      = f.number_field :engine_power, required: true, class: "form-control"
  .row
    .actions.col-md-6.pull-right
      = f.submit 'Guardar', class: 'btn pull-right btn btn-primary'
