%table.table.table-striped.table-hover
  %thead
    %tr
      %th Nombre
      %th Año
      %th Cilindraje
      %th Fabricante
      %th{colspan: 3}

  %tbody
    - @model_cars.each do |model_car|
      %tr
        %td= model_car.name
        %td= model_car.year
        %td= model_car.engine_power
        %td= model_car.automaker.name
        %td= link_to 'Mostrar', automaker_model_car_path(model_car.automaker, model_car, format: :json), remote: true
        %td= link_to 'Edit', edit_automaker_model_car_path(model_car.automaker, model_car, format: :json), remote: true
        %td= link_to 'Destroy', automaker_model_car_path(model_car.automaker, model_car, format: :json), remote: true, :method => :delete, :data => { :confirm => 'Esta Seguro?' }, class: 'deleted'

- unless @model_cars.present?
  %h4 Sin resultados
%br
