.row
  .col-md-8.col-md-offset-2
    = form_for :search, url: automaker_model_cars_path(automaker, format: :json), method: 'get', remote: true, html: {data: {container: '#model_cars_results'}, class: 'auto-submit'} do |f|
      .row
        .col-md-3
          = f.text_field :text, placeholder: 'Busqueda', class: 'form-control'
        .col-md-3
          = f.select :sort, [['Nombre', 'model_cars.name'], ['Año', 'year']], {include_blank: 'Ordenar por'}, class: "form-control"
        .col-md-3
          = f.select :sort_type, [['Ascendente','asc'], ['Descendente', 'desc']], {}, class: "form-control"
        .col-md-3
          = f.submit 'Buscar', class: 'btn btn-info form-control'

#model_cars_results
