%p
  %b Nombre:
  = @model_car.name
%p
  %b Año:
  = @model_car.year
%p
  %b Cilindraje:
  = @model_car.engine_power
%p
  %b Fabricante:
  = @model_car.automaker.name

= link_to 'Editar', edit_automaker_model_car_path(@model_car.automaker, @model_car, format: :json), remote: true
\|
= link_to 'Atras', automaker_path(@model_car.automaker, format: :json), remote: true
