// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-brand{
  padding: 3px 0 !important;
}

#alerts-container {
  position: fixed;
  width: 70%;
  z-index: 5;
  margin-left: 15%;
  margin-top: -17px;

  .alert{
    width: 100%;
    margin: 3px 0px;
  }
}

#accordion{
  .panel-default > .panel-heading {
    background: #222;
    color: #ddd;
    border-radius: 0;
    border-bottom: 1px solid #ddd;

    a {
      display: block;
    }

    &:hover{
      background-color: #000;
      color: #fff;
    }
  }

  .panel-collapse {
    padding: 16px;
    overflow: hidden;

    .row{
      margin-bottom: 12px;
    }

    .table{
      thead{
        background: rgb(91, 192, 222);
        color: #fff;
      }
    }

    a:visited{
      color: #fff;
    }
  }
}

.opaque{
  position: relative;
  .loading-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.6;

    .loading{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -15.5px;
      margin-top: -15.5px;
    }
  }
}
