= form_for @car, format: params[:format], remote: true do |f|
  - if @car.errors.any?
    #error_explanation
      %h2= "#{pluralize(@car.errors.count, "error")} prohibited this car from being saved:"
      %ul
        - @car.errors.full_messages.each do |msg|
          %li= msg

  .row
    .field.col-md-6
      = f.label 'Matricula', required: true
      = f.text_field :registration, required: true, class: "form-control"
    .field.col-md-6
      = f.label 'Fecha de registro', required: true
      = f.text_field :registration_date, data: {provide: 'datepicker'}, required: true, readonly: true, class: "form-control", placeholder: 'dd/mm/yyyy'
  .row
    .field.col-md-6
      = f.label 'Fabricante', required: true
      = select_tag :automaker_id, options_for_select(Automaker.to_select, f.object.model_car.try(:automaker_id)), include_blank: 'Seleccione Fabricante', class: "form-control fabricante_select", required: true, data: {model_select: '#car_model_car_id'}
      = link_to 'Crear Fabricante', new_automaker_path(format: :json), remote: true, data: {container: "#mainModal", step: '2', select: '#automaker_id'}
    .field.col-md-6
      = f.label 'Modelo', required: true
      = f.select :model_car_id, ModelCar.to_select(automaker_id: f.object.model_car.try(:automaker_id)), {include_blank: 'Seleccione primero un Fabricante'}, required: true, class: "form-control"
      = link_to 'Crear Modelo', '', remote: true, id: 'create_model_car', data: {container: "#mainModal", step: '2', select: '#car_model_car_id'}
  .row
    .field.col-md-6
      = f.label 'Propietario', required: true
      = f.select :owner_id, Owner.to_select, {include_blank: 'Seleccione Propietario'}, required: true, class: "form-control"
      = link_to 'Crear Usuario', new_owner_path(format: :json), remote: true, data: {container: "#mainModal", step: '2', select: '#car_owner_id'}

  .row
    .actions.col-md-6.pull-right
      = f.submit 'Guardar', class: 'btn pull-right btn btn-primary'
