%table.table.table-striped.table-hover
  %thead
    %tr
      %th Matricula
      %th Fecha Matricula
      %th Frabricante/Modelo
      %th Propietario
      %th{:colspan => "3"}

  %tbody
    - @cars.each do |car|
      %tr
        %td= car.registration
        %td= car.registration_date
        %td= car.model_car.full_name
        %td= car.owner.full_name
        %td= link_to 'Mostrar', car_path(car, format: :json), remote: true
        %td= link_to 'Editar', edit_car_path(car, format: :json), remote: true
        %td= link_to 'Eliminar', car_path(car, format: :json), remote: true, :method => :delete, :data => { :confirm => 'Esta seguro?' }, class: 'deleted'
- unless @cars.present?
  %h4 Sin resultados
%br
