.row
  .col-md-10.col-md-offset-1
    = form_for :search, url: cars_path(format: :json), method: 'get', remote: true, html: {data: {container: '#cars_results'}, class: 'auto-submit'} do |f|
      .row
        .col-md-2
          = f.text_field :text, placeholder: 'Busqueda', class: 'form-control'
        .col-md-3
          = f.select :owner_id, Owner.all_to_select, {include_blank: 'Propietario'}, class: "form-control"
        .col-md-3
          = f.select :sort, [['Matricula', 'cars.registration'], ['Fecha de registro', 'cars.registration_date'], ["Modelo", "model_cars.year"]], {include_blank: 'Ordenar por'}, class: "form-control"
        .col-md-2
          = f.select :sort_type, [['Ascendente','asc'], ['Descendente', 'desc']], {}, class: "form-control"
        .col-md-2
          = f.submit 'Buscar', class: 'btn btn-info form-control'

#cars_results
