%p
  %b Matricula:
  = @car.registration
%p
  %b Fecha Matricula:
  = @car.registration_date
%p
  %b Frabricante/Modelo:
  = @car.model_car.full_name
%p
  %b Propietario:
  = @car.owner.full_name

= link_to 'Editar', edit_car_path(@car, format: :json), remote: true
\|
= link_to 'Atras', root_path(format: :json, anchor: 'cars'), remote: true
