%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#bs-example-navbar-collapse-1"}, aria: {expanded: "false"}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path(format: :json), id: 'root_path', data: {remote: "true"}}
        = image_tag('logo.png', alt: 'Logo Zaphon', height: '50')

#alerts-container
