!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UtpBdFinal
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .row
      #main-menu
        = render partial: '/layouts/menu'
    .row
      .col-md-10.col-md-offset-1
        #main-results
          = yield

    .modal.fade#mainModal{ tabindex: "-1", role: "dialog", aria_labelledby: "myModalLabel"}
      .modal-dialog{role: "document"}
        .modal-content
          .modal-header
            %button.close{type: "button", data_dismiss: "modal", aria_label: "Close", aria_hidden: "true"} &times;
            %h4.modal-title#mainModalLabel
          .modal-body
    #loading.hide
      = image_tag('ajax-loader.gif', alt: 'loading')
